/*////////////////////////////////////////////////////////////////////
//  					Title ResLearn			                   //
//////////////////////////////////////////////////////////////////*/

.titleResLearn {
	-fx-background-color: #eeeeee; 
	-fx-border-color: #afafaf;
	-fx-font-weight: bold;
	
}


/*////////////////////////////////////////////////////////////////////
//  					Buttons im Hauptmenü                       //
//////////////////////////////////////////////////////////////////*/

.buttonUebungAuswaehlen {
	-fx-background-image: url("../images/balken.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50% 0%;
	-fx-background-radius: 10 10 10 10;
	-fx-background-color: #1c44b3;
}

.buttonUebungAuswaehlen:hover {
	-fx-background-color: #1b58b2;
}

.buttonUebungAuswaehlen:pressed {
	-fx-background-color: #1e39a8;
}

.buttonAufgabeErstellen {
	-fx-background-image: url("../images/bleistift.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50% 0%;
	-fx-background-radius: 10 10 10 10;
	-fx-background-color: #1c44b3;
}

.buttonAufgabeErstellen:hover {
	-fx-background-color: #1b58b2;
}

.buttonAufgabeErstellen:pressed {
	-fx-background-color: #1e39a8;
}

.buttonAufgabeLaden {
	-fx-background-image: url("../images/laden.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50% 0%;
	-fx-background-radius: 10 10 10 10;
	-fx-background-color: #1c44b3;
}

.buttonAufgabeLaden:hover {
	-fx-background-color: #1b58b2;
}

.buttonAufgabeLaden:pressed {
	-fx-background-color: #1e39a8;
}

.buttonTutorial {
	-fx-background-image: url("../images/bildschirm.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50% 0%;
	-fx-background-radius: 10 10 10 10;
	-fx-background-color: #1c44b3;
}

.buttonTutorial:hover {
	-fx-background-color: #1b58b2;
}

.buttonTutorial:pressed {
	-fx-background-color: #1e39a8;
}

.buttonEinstellungen {
	-fx-background-image: url("../images/quiz.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50% 0%;
	-fx-background-radius: 10 10 10 10;
	-fx-background-color: #1c44b3;
}

.buttonEinstellungen:hover{
	-fx-background-color: #1b58b2;
}

.buttonEinstellungen:pressed{
	-fx-background-color: #1e39a8;
}

/*////////////////////////////////////////////////////////////////////
//  Speichern Button in Einstellungen  							   //
//////////////////////////////////////////////////////////////////*/

.buttonBlau {
	-fx-background-color: #1c44b3;
}

.buttonBlau:hover {
	-fx-background-color: #1b58b2;
}

.buttonBlau:pressed {
	-fx-background-color: #1e39a8;
}

.buttonWeiss {
	-fx-background-color: #ffffff;
	-fx-background-radius: 5 5 5 5;
	-fx-border-color: #afafaf;
	-fx-border-radius: 5 5 5 5;
}

.buttonWeiss:hover {
	-fx-background-color: #ffffff;
}

.buttonWeiss:pressed {
	-fx-background-color: #ffffff;
}

/*////////////////////////////////////////////////////////////////////
//               Karten in Übung auswählen 		                   //
//////////////////////////////////////////////////////////////////*/

.karteUebung {
	-fx-background-color: #ffffff;
	-fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
}

.karteUebung:hover {
	-fx-effect: dropshadow(three-pass-box, #1b58b2, 10, 0, 0, 0);
}

/*////////////////////////////////////////////////////////////////////
//               Dropdown Buttons in Einstellungen                 //
//////////////////////////////////////////////////////////////////*/

.dropdownButton {
	
}

.dropdownButton .context-menu {
	-fx-pref-width: 160;

}

.dropdownButtonKlein {
	-fx-pref-width: 50;
	-fx-min-width: 50;
	-fx-max-width: 50;
}


.dropdownButtonKlein .context-menu{
	-fx-pref-width: 35;
}

/*////////////////////////////////////////////////////////////////////
//              	Karten in ModusAuswählen         		       //
//////////////////////////////////////////////////////////////////*/

.labelTitle {
	-fx-background-color: white;
	-fx-font-weight: bold;
}

.labelText {
	-fx-background-color: white;
}

















